<h1 class="text-center show-pg">Companies</h1>

<div class="row">
  <div class="col-6 col-md-4">
    <div class="profile">
      <h3>Hello User</h3>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-8">
    <% @companies.each do |company| %>
  <div class="card text-center">
    <div class="card-header">
      <h4><%= company.agency %></h4>
    </div>
    <div class="card-body">
      <class="card-title">
      <h6><%= company.title %></h6>
      <%= link_to 'Read more', company %>
    </div>
    <div class="card-footer text-muted">
      <%= time_ago_in_words(company.created_at) %>
    </div>
  </div>
<% end %>
<br>

  </div>
</div>

